# Assignment 2

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

An NOAA dataset has been stored in the file `data/C2A2_data/BinnedCsvs_d18/ecffe104fd92c4ba3df958dcd31244de3372d31e1e5ce44a8f195ea0.csv`. The data for this assignment comes from a subset of The National Centers for Environmental Information (NCEI) [Daily Global Historical Climatology Network](https://www1.ncdc.noaa.gov/pub/data/ghcn/daily/readme.txt) (GHCN-Daily). The GHCN-Daily is comprised of daily climate records from thousands of land surface stations across the globe.

Each row in the assignment datafile corresponds to a single observation.


The following variables are provided to you:

* **id** : station identification code
* **date** : date in YYYY-MM-DD format (e.g. 2012-01-24 = January 24, 2012)
* **element** : indicator of element type
    * TMAX : Maximum temperature (tenths of degrees C)
    * TMIN : Minimum temperature (tenths of degrees C)
* **value** : data value for element (tenths of degrees C)

For this assignment, you must:

1. Read the documentation and familiarize yourself with the dataset, then write some python code which returns a line graph of the record high and record low temperatures by day of the year over the period 2005-2014. The area between the record high and record low temperatures for each day should be shaded.
2. Overlay a scatter of the 2015 data for any points (highs and lows) for which the ten year record (2005-2014) record high or record low was broken in 2015.
3. Watch out for leap days (i.e. February 29th), it is reasonable to remove these points from the dataset for the purpose of this visualization.
4. Make the visual nice! Leverage principles from the first module in this course when developing your solution. Consider issues such as legends, labels, and chart junk.

The data you have been given is near **Eskişehir, Eskişehir, Turkey**, and the stations the data comes from are shown on the map below.

In [1]:
import matplotlib.pyplot as plt
import mplleaflet
import pandas as pd
import datetime 
import numpy as np

def leaflet_plot_stations(binsize, hashid):

    df = pd.read_csv('data/C2A2_data/BinSize_d{}.csv'.format(binsize))

    station_locations_by_hash = df[df['hash'] == hashid]

    lons = station_locations_by_hash['LONGITUDE'].tolist()
    lats = station_locations_by_hash['LATITUDE'].tolist()

    plt.figure(figsize=(8,8))

    plt.scatter(lons, lats, c='r', alpha=0.7, s=200)

    return mplleaflet.display()

leaflet_plot_stations(200,'ecffe104fd92c4ba3df958dcd31244de3372d31e1e5ce44a8f195ea0')

Loading the file

In [2]:
df=pd.read_csv('data/C2A2_data/BinnedCsvs_d18/ecffe104fd92c4ba3df958dcd31244de3372d31e1e5ce44a8f195ea0.csv')
df=df.sort_values(by='Date')
df

                 ID        Date Element  Data_Value
14968   TUM00017098  2005-01-01    TMIN        -200
83536   AM000037801  2005-01-01    TMAX          36
1106    SY000040061  2005-01-01    TMIN          24
59004   IRM00040731  2005-01-01    TMIN         -30
58929   IRM00040731  2005-01-01    TMAX         166
83534   AM000037801  2005-01-01    TMIN         -60
19192   SA000041024  2005-01-01    TMAX         325
50965   CY000176090  2005-01-01    TMIN         106
47398   IR000407660  2005-01-01    TMIN         -42
116988  TU000017240  2005-01-01    TMAX         115
47518   IS000004640  2005-01-01    TMIN         138
639     ISM00040180  2005-01-01    TMAX         225
47534   IS000004640  2005-01-01    TMAX         201
16044   EGM00062403  2005-01-01    TMIN         124
75635   JOM00040296  2005-01-01    TMAX         227
35541   SA000040430  2005-01-01    TMIN          75
35548   SA000040430  2005-01-01    TMAX         260
55918   AM000037789  2005-01-01    TMAX          51
55854   AM000037789  2005-01-01    TMIN         -50
109434  TU000017375  2005-01-01    TMAX         200
27888   IS000006771  2005-01-01    TMAX         231
27887   IS000006771  2005-01-01    TMIN         151
117684  TUM00017084  2005-01-01    TMAX         122
109576  TU000017375  2005-01-01    TMIN          93
36457   TUM00017234  2005-01-01    TMAX         168
14946   TUM00017098  2005-01-01    TMAX         -45
117715  TUM00017084  2005-01-01    TMIN         -55
145414  EGM00062318  2005-01-01    TMAX         214
14955   TUM00017092  2005-01-01    TMIN         -99
14956   TUM00017092  2005-01-01    TMAX          58
...             ...         ...     ...         ...
23846   AM000037704  2015-12-31    TMIN         -62
97162   TUM00017116  2015-12-31    TMAX          18
69474   TUM00017086  2015-12-31    TMAX         -28
72988   SA000041024  2015-12-31    TMIN         180
148235  TUM00017190  2015-12-31    TMAX         -38
97159   TUM00017116  2015-12-31    TMIN         -28
79901   SAM00040401  2015-12-31    TMAX         203
139245  AM000037792  2015-12-31    TMAX         -50
148930  TX000038507  2015-12-31    TMAX          71
88585   TUM00017088  2015-12-31    TMAX         -41
137517  TUM00017098  2015-12-31    TMAX         -79
133077  TUM00017340  2015-12-31    TMAX          99
80449   AJ000037735  2015-12-31    TMAX          50
142144  TUM00017203  2015-12-31    TMIN         -42
72722   EG000062463  2015-12-31    TMAX         210
99152   AJ000037756  2015-12-31    TMAX          33
52511   TUM00017130  2015-12-31    TMIN         -97
144760  AM000037959  2015-12-31    TMAX          56
72172   SAM00040400  2015-12-31    TMIN         152
8491    TUM00017255  2015-12-31    TMAX          71
59715   TUM00017285  2015-12-31    TMIN         -18
52449   TUM00017130  2015-12-31    TMAX         -11
4564    IRM00040731  2015-12-31    TMIN           6
5916    TUM00017155  2015-12-31    TMIN         -80
111217  SAM00040360  2015-12-31    TMIN          50
56768   CY000176090  2015-12-31    TMAX         126
121249  AMM00037717  2015-12-31    TMAX         -20
12676   TUM00017096  2015-12-31    TMIN        -154
137490  TUM00017092  2015-12-31    TMAX          -3
49379   IZ000040665  2015-12-31    TMIN          62

[625997 rows x 4 columns]

To find the location 'ID' which has starting date in 2005 and also date in 2014

In [3]:
tumo=df[df['ID'].str.startswith('TUM')]
dater=tumo[(tumo['Date'].str.startswith('2005')) |(tumo['Date'].str.startswith('2014'))]
dater

                 ID        Date Element  Data_Value
14968   TUM00017098  2005-01-01    TMIN        -200
117684  TUM00017084  2005-01-01    TMAX         122
36457   TUM00017234  2005-01-01    TMAX         168
14946   TUM00017098  2005-01-01    TMAX         -45
117715  TUM00017084  2005-01-01    TMIN         -55
14955   TUM00017092  2005-01-01    TMIN         -99
14956   TUM00017092  2005-01-01    TMAX          58
93263   TUM00017234  2005-01-02    TMIN          54
90547   TUM00017098  2005-01-02    TMAX         -25
90562   TUM00017098  2005-01-02    TMIN        -165
93264   TUM00017234  2005-01-02    TMAX         146
60492   TUM00017084  2005-01-02    TMAX          45
60359   TUM00017084  2005-01-02    TMIN         -20
90302   TUM00017092  2005-01-02    TMIN         -43
90301   TUM00017092  2005-01-02    TMAX          25
49318   TUM00017084  2005-01-03    TMAX          56
48808   TUM00017084  2005-01-03    TMIN           2
119666  TUM00017092  2005-01-03    TMAX          48
40096   TUM00017234  2005-01-03    TMIN          42
40090   TUM00017234  2005-01-03    TMAX         129
281776  TUM00017084  2005-01-04    TMAX          63
291536  TUM00017234  2005-01-04    TMAX         114
330637  TUM00017098  2005-01-04    TMAX         -76
330582  TUM00017092  2005-01-04    TMAX          26
330595  TUM00017092  2005-01-04    TMIN         -96
330690  TUM00017098  2005-01-04    TMIN        -225
359031  TUM00017084  2005-01-05    TMAX          35
401397  TUM00017098  2005-01-05    TMIN        -142
394555  TUM00017234  2005-01-05    TMIN          11
401427  TUM00017092  2005-01-05    TMAX           7
...             ...         ...     ...         ...
84506   TUM00017092  2014-12-30    TMIN          17
81448   TUM00017270  2014-12-30    TMIN          65
84544   TUM00017098  2014-12-30    TMIN         -13
88056   TUM00017084  2014-12-30    TMAX         103
85401   TUM00017088  2014-12-30    TMIN          57
83479   TUM00017250  2014-12-30    TMIN           7
87961   TUM00017160  2014-12-30    TMIN          76
92978   TUM00017210  2014-12-30    TMIN          67
81859   TUM00017292  2014-12-30    TMIN          82
80009   TUM00017203  2014-12-30    TMIN          22
86687   TUM00017244  2014-12-30    TMIN          34
84640   TUM00017140  2014-12-30    TMIN          48
99240   TUM00017096  2014-12-30    TMIN         -38
59045   TUM00017084  2014-12-31    TMAX          31
79143   TUM00017244  2014-12-31    TMIN          20
74697   TUM00017160  2014-12-31    TMIN          75
127940  TUM00017210  2014-12-31    TMIN          42
65711   TUM00017234  2014-12-31    TMIN          64
71636   TUM00017280  2014-12-31    TMIN          12
66039   TUM00017270  2014-12-31    TMIN          47
129814  TUM00017370  2014-12-31    TMIN         142
94510   TUM00017070  2014-12-31    TMIN         -21
61176   TUM00017088  2014-12-31    TMIN          62
70540   TUM00017140  2014-12-31    TMIN          55
56900   TUM00017116  2014-12-31    TMIN           2
96771   TUM00017190  2014-12-31    TMIN          -9
138218  TUM00017034  2014-12-31    TMIN          73
135246  TUM00017155  2014-12-31    TMIN         -35
66776   TUM00017188  2014-12-31    TMIN          22
62227   TUM00017237  2014-12-31    TMIN          48

[22642 rows x 4 columns]

Separating Dates after 2014

In [4]:


ank=df[df['ID']=='TUM00017098']
ank=ank[~ank['Date'].str.endswith('02-29')]

#For the scatterplot
ank2=ank[ank['Date'].str.startswith('2015')]
#For the lineplot
ank['Date']=pd.to_datetime(ank.Date)
date_before=datetime.date(2015,1,1)
ank1=ank[ank['Date']<date_before]

Converting dataframe data for graphs

In [5]:

minv=ank1[ank1['Element']=='TMIN']
maxv=ank1[ank1['Element']=='TMAX']

ls=pd.merge(minv,maxv,on='Date')


date=ls['Date'].drop_duplicates()
date=pd.to_datetime(pd.Series(date))
observation_dates = np.array(date)

min_s=ls['Data_Value_x'].tolist()
max_s=ls['Data_Value_y'].tolist()

In [6]:
date

0      2005-01-01
1      2005-01-02
2      2005-01-04
3      2005-01-05
4      2005-01-07
5      2005-01-08
6      2005-01-10
7      2005-01-11
8      2005-01-12
9      2005-01-14
10     2005-01-16
11     2005-01-18
12     2005-01-19
13     2005-01-20
14     2005-01-21
15     2005-01-22
16     2005-01-25
17     2005-01-26
18     2005-01-27
19     2005-01-28
20     2005-01-29
21     2005-01-31
22     2005-02-04
23     2005-02-05
24     2005-02-09
25     2005-02-11
26     2005-02-12
27     2005-02-14
28     2005-02-15
29     2005-02-16
          ...
1699   2013-03-07
1700   2013-03-11
1701   2013-03-12
1702   2013-03-15
1703   2013-03-16
1704   2013-03-19
1705   2013-03-20
1706   2013-03-22
1707   2013-03-23
1708   2013-03-25
1709   2013-03-26
1710   2013-03-27
1711   2013-03-28
1712   2013-03-30
1713   2013-03-31
1714   2013-04-01
1715   2013-04-02
1716   2013-04-04
1717   2013-04-06
1718   2013-04-07
1719   2013-04-08
1720   2013-04-10
1721   2013-04-11
1722   2013-04-14
1723   2013-04-19
1724   2013-04-25
1725   2013-04-27
1726   2013-04-28
1727   2013-04-29
1728   2014-10-12
Name: Date, dtype: datetime64[ns]

Creating First version of LinePlot

In [7]:
fig,ax1=plt.subplots()
ax2=ax1.twinx()
#y_stack=np.row_stack(observation_dates,min_s, observation_dates,max_s)

ax1.plot(observation_dates,min_s,label='Minimum',color='yellow')
ax1.plot(observation_dates,max_s,label='Minimum',color='c')
ax2.scatter(observation_dates2,min_s2, s=10, c='b', marker="s", label='first')
ax2.scatter(observation_dates2,max_s2, s=10, c='r', marker="o", label='second')

ax1.fill_between(observation_dates,min_s,max_s,color='grey')
plt.show()

NameError: name 'observation_dates2' is not defined

Preparing Data for ScatterPlot

In [ ]:

minv2=ank2[ank2['Element']=='TMIN']
maxv2=ank2[ank2['Element']=='TMAX']

ls2=pd.merge(minv2,maxv2,on='Date')



date2=ls2['Date'].drop_duplicates()
date2=pd.to_datetime(pd.Series(date2))
observation_dates2 = np.array(date2)

min_s2=ls2['Data_Value_x'].tolist()
max_s2=ls2['Data_Value_y'].tolist()

Creating First Version of ScatterPlot

In [ ]:

ax1 = plt.gca()
ax1.scatter(observation_dates2,min_s2, s=10, c='b', marker="s", label='first')
ax1.scatter(observation_dates2,max_s2, s=10, c='r', marker="o", label='second')
#ax1.setp(lines, linewidth=1.0)
x=plt.gca().xaxis
for item in x.get_ticklabels():
    item.set_rotation(45)
plt.show()